body { margin: 0; padding: 0; }
ul { list-style: none; padding: 0; text-indent: 0; }

.arrow {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  border-radius: 50%;
  bottom: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
  cursor: pointer;
  height: 72px;
  margin: auto;
  opacity: .6;
  position: absolute;
  top: 0;
  transition: opacity .3s;
  width: 72px;
  z-index: 10;
}

.arrow:hover {
  opacity: 1;
}

.arrow--left {
  background-image: url('../images/arrow-left.png');
  left: 24px;
}

.arrow--right {
  background-image: url('../images/arrow-right.png');
  right: 24px;
}

.slides {
  bottom: 0;
  height: 100vh;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}

.slide__container {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 100%;
  transition: transform .3s;
  width: auto;
}

.slide {
  display: flex;
  -webkit-display: flex;
  align-content: flex-end;
  align-items: flex-end;
  height: 100%;
  justify-content: center;
  min-width: 100%;
  width: 100%;
}

.slide__btn {
  background-color: rgba(0,0,0,.08);
}

.slide__btn:hover {
  background-color: rgba(0,0,0,.12);
}

.slide__btn:hover .slide__btn__label {
  opacity: .5;
}

.slide__btn__label {
  opacity: 0;
  transition: opacity .3s;
}

#slide__dots {
  bottom: 0;
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 16px;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translate3d(0,8px,0);
  transition: transform .3s;
  width: 100%;
}

.slide__image {
  height: 300px;
  width: 300px;
}

#slides__navigation {
  bottom: 0;
  height: 72px;
  position: absolute;
  transform: translate3d(0, 8px, 0);
  transition: transform .3s;
  width: 100%;
}

#slides__navigation:hover {
  transform: translate3d(0,0,0);
}

#slides__navigation:hover #slide__dots {
  transform: translate3d(0,0,0);
}

.slide__title {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

.slide__title__letter {
  font-size: 24px;
  margin: 0 1px;
}

@media screen and (min-width: 767px) {
  .slide__image {
    height: 500px;
    width: 500px;
  }

  .slide__title__letter {
    font-size: 64px;
    margin: 0 4px;
  }
}

@media screen and (min-width: 1023px) {
  .slides {
    height: calc(100vh - 240px);
    width: calc(100vw - 240px);
  }

  .slide {
    align-content: center;
    align-items: center;
  }

  .slide__image {
    height: 500px;
    width: 500px;
  }

  .slide__title {
    margin-bottom: 0;
  }

  .slide__title__letter {
    font-size: 96px;
    margin: 0 4px;
  }
}

@media screen and (min-width: 1300px) {

  .slide__image {
    height: 640px;
    width: 640px;
  }


  .slide__title__letter {
    font-size: 168px;
  }
}
