body { margin: 0; padding: 0; }
ul { list-style: none; padding: 0; text-indent: 0; }

.arrow {
  background-color: white;
  border-radius: 50%;
  bottom: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
  cursor: pointer;
  height: 72px;
  margin: auto;
  position: absolute;
  top: 0;
  width: 72px;
  z-index: 10;
}

.arrow--left {
  left: 24px;
}

.arrow--left:before,
.arrow--left:after,
.arrow--right:before,
.arrow--right:after {
  background-color: black;
  content: '';
  height: 3px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 18px;
}

.arrow--left:before,
.arrow--right:after {
  transform: rotate(-45deg);
}

.arrow--right:before,
.arrow--left:before {
  top: 29px;
}

.arrow--right:after,
.arrow--left:after {
  bottom: 29px;
}

.arrow--left:after,
.arrow--right:before {
  transform: rotate(45deg);
}

.arrow--right {
  right: 24px;
}

.slides {
  bottom: 0;
  height: calc(100vh - 240px);
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100vw - 240px);
}

.slide__container {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 100%;
  transition: transform .3s;
  width: auto;
}

.slide {
  display: flex;
  -webkit-display: flex;
  align-content: center;
  align-items: center;
  height: 100%;
  justify-content: center;
  min-width: 100%;
  width: 100%;
}

.slide__btn {
  background-color: rgba(0,0,0,.08);
}

.slide__btn:hover {
  background-color: rgba(0,0,0,.12);
}

.slide__btn:hover .slide__btn__label {
  opacity: .5;
}

.slide__btn__label {
  opacity: 0;
  transition: opacity .3s;
}

#slide__dots {
  bottom: 0;
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 16px;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translate3d(0,8px,0);
  transition: transform .3s;
  width: 100%;
}

#slides__navigation {
  bottom: 0;
  height: 64px;
  position: absolute;
  transform: translate3d(0, 8px, 0);
  transition: transform .3s;
  width: 100%;
}

#slides__navigation:hover {
  transform: translate3d(0,0,0);
}

#slides__navigation:hover #slide__dots {
  transform: translate3d(0,0,0);
}

.slides__progress {
  background-color: black;
  bottom: 0;
  height: 16px;
  left: 0;
  opacity: .16;
  position: absolute;
  transform: translate3d(-100%,0,0);
  transition: opacity .3s, transform .3s;
  width: 100%;
}

.slide__title {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
